/*#d74894 #df6da9 #e791bf #efb6d4 #f7daea*/
/* darkest to ligthest */

body, footer, head {
    background-color: #d74894;
}

blockquote {
    background-color: #efb6d4;
    color: #df6da9;
    text-align: center;
    margin: 10px;
}

table {
    border: #cc217c 3px dashed;
    align-items: center;
    text-align: center;
    margin:auto;
}

a:hover {
    color: #e791bf;
}

footer, header, nav, p, h1, h2, h3{
    margin: 5px;
    text-align: center;
}

a, p, h1, h2, h3, label {
    color: #f7daea;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

form {
     align-items: center;
    text-align: center;
    margin:auto;
}